<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coleman.kingword"
    android:versionCode="6"
    android:versionName="2.0.3" >

    <uses-sdk android:minSdkVersion="7" >
    </uses-sdk>

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:name="com.coleman.util.MyApp" >

        <!-- provider -->
        <provider
            android:authorities="kingword"
            android:name=".provider.KingWordProvider" />
        <!-- activity -->
        <activity
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:name=".WelcomeActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:name=".wordlist.WordListActivity" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:name=".wordlist.WordlistTabActivity" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:name=".wordlist.RemoteFileExplorer" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:name=".wordlist.SubWordListActivity" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:name=".wordlist.FileExplorer" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:name=".wordlist.TextEditor" >
            <intent-filter >
                <action android:name="edit_text" >
                </action>

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".CoreActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:name=".ebbinghaus.EbbinghausActivityAsDialog"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:name=".SettingsActivity" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".ColorSetActivityAsDialog"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".Settings" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".ReviewSettings" >
        </activity>
        <!-- receiver -->
        <receiver
            android:label="@string/app_name"
            android:name=".ebbinghaus.receiver.KingWordReceiver" >
            <intent-filter >
                <action android:name="review_time_0" >
                </action>
                <action android:name="review_time_1" >
                </action>
                <action android:name="review_time_2" >
                </action>
                <action android:name="com.coleman.kingword.ACTION_SEND_INFO_SILENT" >
                </action>
                <action android:name="android.intent.action.BOOT_COMPLETED" >
                </action>
            </intent-filter>
        </receiver>
        <receiver
            android:label="@string/app_name"
            android:name=".wordlist.OriginalDownloadReceiver" >
            <intent-filter >
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" >
                </action>
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED" >
                </action>
            </intent-filter>
        </receiver>
        <!-- service -->
        <service android:name=".dict.DictLoadService" />
        <service android:name=".UpgradeService" />
    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>