<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.coleman.kingword" android:versionCode="1"
	android:versionName="1.0">
	<uses-sdk android:minSdkVersion="7"></uses-sdk>
	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<!-- provider -->
		<provider android:name="com.coleman.kingword.provider.KingWordProvider"
			android:authorities="kingword" />
		<!-- activity -->
		<activity android:name=".activity.WelcomeActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".activity.WordListActivity"
			android:label="@string/app_name">
		</activity>
		<activity android:name=".activity.SubWordListActivity"
			android:label="@string/app_name">
		</activity>
		<activity android:name=".activity.FileExplorer"
			android:label="@string/app_name">
		</activity>
		<activity android:name=".activity.TextEditor" android:label="@string/app_name">
			<intent-filter>
				<action android:name="edit_text"></action>
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity android:name=".activity.CoreActivity"
			android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar">
		</activity>
		<activity android:name=".activity.EbbinghausActivityAsDialog"
			android:label="@string/app_name" android:theme="@android:style/Theme.Dialog">
		</activity>
		<activity android:name=".activity.SettingsActivity"
			android:label="@string/app_name">
		</activity>

		<!-- receiver -->
		<receiver android:name=".ebbinghaus.EbbinghausReceiver"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="review_time_0"></action>
				<action android:name="review_time_1"></action>
				<action android:name="review_time_2"></action>
				<action android:name="android.intent.action.BOOT_COMPLETED"></action>
			</intent-filter>
		</receiver>
	</application>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.GET_TASKS" />
</manifest>